.input-screen
{ 
    /* later */
    background-color: rgb(195, 247, 247);
}

.calculator-area 
{
    width:300px;
    margin: 5%;
    background-color: #dfdddd;
}

.row 
{
    margin: 10px;
}

.btn 
{
    margin: 5px;
    font-size: xx-large;
}

.reset 
{
    font-size: 15px;
    font-weight:bolder;
}

.mod
{
    font-size: medium;
    font-weight:bolder;
}

.btn-outline-secondary {
    background: linear-gradient(to right, #000000 0%, #000000 50%, #ffffff 50%, #ffffff 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    color:#000000;
}

.btn-outline-secondary:hover {
    background-position:0 0;
}

